.iphone13promax-3 {
	width: 428px;
	height: 926px;
	padding: 0px;
	background-color: #0f0f0f;
	position: absolute;
}
.completetheverification {
	text-align: left;
	vertical-align: text-top;
	font-size: 42px;
	font-family: Open Sans;
	line-height: auto;
	color: #f0f0f0;
	left: 31px;
	top: 110px;
	position: absolute;
}
.mioperatorconnect {
	text-align: left;
	vertical-align: text-top;
	font-size: 24px;
	font-family: Open Sans;
	left: 31px;
	top: 77px;
	width: 229px;
	height: 33px;
	position: absolute;
	line-height: auto;
	color: #ef6b12;
}
.rectangle1 {
	border-radius: 7px;
	width: 363px;
	height: 347px;
	background-color: #1d1d1d;
	top: 376px;
	left: 31px;
	position: absolute;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.30000001192092896);
}
.almostthere! {
	text-align: left;
	vertical-align: text-top;
	font-size: 24px;
	font-family: Open Sans;
	left: 133px;
	top: 402px;
	width: 161px;
	height: 33px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.fillthedetailssotheprofilecanbeverified {
	text-align: left;
	vertical-align: text-top;
	font-size: 12px;
	font-family: Open Sans;
	left: 48px;
	top: 456px;
	width: 239px;
	height: 16px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.posidisa32characterlongidassociatedwiththepaymentmachine {
	text-align: left;
	vertical-align: text-top;
	font-size: 12px;
	font-family: Open Sans;
	left: 48px;
	top: 566px;
	width: 329px;
	height: 32px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.rectangle7 {
	border-radius: 5px;
	width: 329px;
	height: 58px;
	background-color: #2d2d2d;
	top: 490px;
	left: 48px;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.enterpointofsalesidofmachine {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 65px;
	top: 507px;
	width: 274px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #5a5a5a;
}
.rectangle72 {
	border-radius: 5px;
	width: 329px;
	height: 58px;
	background-color: #7f3d10;
	top: 644px;
	left: 48px;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.continuewithverification {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 100px;
	top: 660px;
	width: 226px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
