.iphone13promax-9 {
	width: 428px;
	height: 926px;
	padding: 0px;
	background-color: #0f0f0f;
	position: absolute;
}
.rectangle11 {
	border-radius: 65px;
	width: 378px;
	height: 50px;
	background-color: #1d1d1d;
	left: 24px;
	top: 71px;
	position: absolute;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.harishverma {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 45px;
	top: 84px;
	width: 111px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.mistorealiganj {
	text-align: left;
	vertical-align: text-top;
	font-size: 12px;
	font-family: Open Sans;
	left: 45px;
	top: 129px;
	width: 84px;
	height: 16px;
	position: absolute;
	line-height: auto;
	color: #a74b0d;
}
.id-avs2256431 {
	text-align: left;
	vertical-align: text-top;
	font-size: 12px;
	font-family: Open Sans;
	left: 45px;
	top: 146px;
	width: 91px;
	height: 16px;
	position: absolute;
	line-height: auto;
	color: #a74b0d;
}
.line4 {
	width: 29px;
	border: 3px solid #97440c;
	top: 91px;
	left: 350px;
	position: absolute;
}
.line5 {
	width: 29px;
	border: 3px solid #97440c;
	top: 98px;
	left: 350px;
	position: absolute;
}
.line6 {
	width: 29px;
	border: 3px solid #97440c;
	top: 105px;
	left: 350px;
	position: absolute;
}
.rectangle12 {
	border-radius: 8px 8px 0px 0px;
	width: 428px;
	height: 100px;
	background-color: #1d1d1d;
	top: 826px;
	left: 0px;
	position: absolute;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.group28 {
	width: 124px;
	height: 28px;
	top: 861px;
	left: 250px;
	position: absolute;
}
.previous {
	text-align: left;
	vertical-align: text-top;
	font-size: 14px;
	font-family: Open Sans;
	left: 286px;
	top: 866px;
	width: 88px;
	height: 19px;
	position: absolute;
	letter-spacing: 22.5%;
	line-height: auto;
	color: #5a5a5a;
}
.history {
	width: 28px;
	height: 28px;
	padding: 0px;
	left: 250px;
	top: 861px;
	position: absolute;
	background-color: #ffffff;
}
.vector {
	width: 28px;
	height: 28px;
}
.vector2 {
	width: 24.5px;
	height: 21px;
	left: 0px;
	top: 0px;
	position: absolute;
}
.group26 {
	width: 88px;
	height: 28px;
	top: 861px;
	left: 50px;
	position: absolute;
	box-shadow: 0px 0px 3px rgba(103, 102, 102, 0.36000001430511475);
}
.group27 {
	width: 88px;
	height: 28px;
	top: 861px;
	left: 50px;
	position: absolute;
}
.home {
	text-align: left;
	vertical-align: text-top;
	font-size: 14px;
	font-family: Open Sans;
	left: 86px;
	top: 866px;
	width: 52px;
	height: 19px;
	position: absolute;
	letter-spacing: 22.5%;
	line-height: auto;
	color: #e16410;
}
.home2 {
	width: 28px;
	height: 28px;
	padding: 0px;
	left: 50px;
	top: 861px;
	position: absolute;
	background-color: #ffffff;
}
.vector3 {
	width: 28px;
	height: 28px;
}
.vector4 {
	width: 23.333332061767578px;
	height: 19.833332061767578px;
	left: 0px;
	top: 0px;
	position: absolute;
}
.rectangle13 {
	border-radius: 14px;
	width: 360px;
	height: 575px;
	background-color: #1d1d1d;
	top: 194px;
	left: 34px;
	position: absolute;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.paymentprocess {
	text-align: left;
	vertical-align: text-top;
	font-size: 24px;
	font-family: Open Sans;
	left: 49px;
	top: 216px;
	width: 192px;
	height: 33px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.choiceofcommunication {
	text-align: left;
	vertical-align: text-top;
	font-size: 16px;
	font-family: Open Sans;
	left: 49px;
	top: 271px;
	width: 193px;
	height: 22px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.selectpaymentprovidor:- {
	text-align: left;
	vertical-align: text-top;
	font-size: 16px;
	font-family: Open Sans;
	left: 49px;
	top: 357px;
	width: 196px;
	height: 22px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.frame1 {
	width: 329px;
	height: 57px;
	border-radius: 5px;
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: absolute;
	background-color: #7f3d10;
	top: 695px;
	left: 49px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.continuewithpayment {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	align-self: flex-start;
	left: 62px;
	top: 16px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.rectangle21 {
	border-radius: 5px;
	width: 329px;
	height: 58px;
	background-color: #2d2d2d;
	border: 1px solid #e16410;
	top: 393px;
	left: 49px;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.rectangle25 {
	border-radius: 5px;
	width: 329px;
	height: 58px;
	background-color: #2d2d2d;
	top: 463px;
	left: 49px;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.rectangle26 {
	border-radius: 5px;
	width: 329px;
	height: 58px;
	background-color: #2d2d2d;
	top: 533px;
	left: 50px;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.rectangle27 {
	border-radius: 5px;
	width: 329px;
	height: 58px;
	background-color: #2d2d2d;
	top: 603px;
	left: 50px;
	position: absolute;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10000000149011612);
}
.paytmupi {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 66px;
	top: 410px;
	width: 87px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #5a5a5a;
}
.bhimupi {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 66px;
	top: 480px;
	width: 78px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #5a5a5a;
}
.credit/debitcard* {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 67px;
	top: 550px;
	width: 161px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #5a5a5a;
}
.cashpayment {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 67px;
	top: 620px;
	width: 116px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #5a5a5a;
}
.inr24,
000 {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 272px;
	top: 410px;
	width: 93px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #e16410;
}
.inr24,
0002 {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 272px;
	top: 480px;
	width: 93px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #e16410;
}
.inr24,
0003 {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 273px;
	top: 550px;
	width: 93px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #e16410;
}
.inr24,
0004 {
	text-align: left;
	vertical-align: text-top;
	font-size: 18px;
	font-family: Open Sans;
	left: 273px;
	top: 620px;
	width: 93px;
	height: 25px;
	position: absolute;
	line-height: auto;
	color: #e16410;
}
.rectangle24 {
	border-radius: 7px;
	width: 119px;
	height: 34px;
	background-color: #2d2d2d;
	top: 264px;
	left: 259px;
	position: absolute;
}
.arrow6 {
	width: 1px;
	left: 365px;
	top: 284px;
	position: absolute;
}
.email {
	text-align: left;
	vertical-align: text-top;
	font-size: 16px;
	font-family: Open Sans;
	left: 270px;
	top: 270px;
	width: 41px;
	height: 22px;
	position: absolute;
	line-height: auto;
	color: #c5c5c5;
}
.rectangle28 {
	border-radius: 14px;
	width: 360px;
	height: 575px;
	background-color: rgba(0, 0, 0, 0.5);
	top: 194px;
	left: 34px;
	position: absolute;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.ellipse10 {
	top: 367px;
	left: 121px;
	position: absolute;
}
.checkcircle {
	width: 156px;
	height: 156px;
	padding: 0px;
	left: 135px;
	top: 381px;
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.vector5 {
	width: 156px;
	height: 156px;
}
.vector6 {
	width: 130px;
	height: 130px;
	left: 0px;
	top: 0px;
	position: absolute;
}
.paymentsuccessful {
	text-align: left;
	vertical-align: text-top;
	font-size: 28px;
	font-family: Open Sans;
	left: 79px;
	top: 576px;
	width: 268px;
	height: 38px;
	position: absolute;
	line-height: auto;
	color: #ffffff;
}
.receiptsenttoemailofcustomer {
	text-align: center;
	vertical-align: text-top;
	font-size: 20px;
	font-family: Open Sans;
	left: 79px;
	top: 616px;
	width: 268px;
	height: 54px;
	position: absolute;
	line-height: auto;
	color: #ffffff;
}
